.workExpBlock,
.myProjectsBlock {
  margin: 0 auto;
  color: black;
  min-height: 50vh;
  max-width: 90vw;
}
.H1 {
  font-size: 26px;
  font-weight: 700;
  margin: 15px auto;
}
.ImageDiv {
  position: relative;
  margin: 20px auto;
  display: grid;
}
.workInfoWrapper,
.projectInfoDivWrapper {
  display: block;
  margin: 10px auto 20px auto;
  justify-content: center;
}
.workInfo {
  position: relative;
}
.projectInfoDiv,
.workInfoWrapper {
  animation: workAni 0.5s;
}
.projectInfoDivWrapper {
  animation: projAni 0.5s;
}
@keyframes workAni {
  0% {
    position: relative;
    left: -1500px;
  }
  80% {
    position: relative;
    left: 300px;
  }
  100% {
    position: relative;
    left: 0;
    right: 0;
  }
}
@keyframes projAni {
  0% {
    position: relative;
    right: -1500px;
  }
  80% {
    position: relative;
    right: 300px;
  }
  100% {
    position: relative;
    left: 0;
    right: 0;
  }
}
.workImg,
.projWindow,
.projWindowOpened {
  height: auto;
  border-radius: 20px;
  display: flex;
  margin: 1px auto;
  max-width: 550px;
  max-height: 300px;
  min-height: 110px;
  width: auto;
}
.workImg {
  margin: 15px auto;
  width: 80%;
}
.projWindowOpened {
  animation: projWindowAni 1s;
  margin: 0 auto;
  border: 1px solid black;
  opacity: 0.5;
}
.projWindowOpened:hover,
.projWindow:hover {
  cursor: pointer;
}
@keyframes projWindowAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.projInfoBlock {
  display: none;
}
.projImgLink {
  margin: 20px auto;
  height: 30px;
  width: 80px;
  display: none;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  position: absolute;
  line-height: 30px;
  top: 20%;
  left: 0;
  right: 0;
  color: white;
  animation: techDivAni 1s;
}

.techDiv0 {
  background-color: rgba(191, 13, 13, 0.8);
}
.techDiv1 {
  background-color: rgba(157, 98, 165, 0.8);
}
.techDiv2 {
  background-color: rgba(119, 61, 135, 0.8);
}
.techDivBlock {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  transform: translateY(12px);
  bottom: 0;
  position: absolute;
  width: 80%;
  animation: techDivAni 1s;
  font-size: 15px;
}

.techDiv {
  margin: 0 auto;
  width: 70%;
  max-width: 140px;
  height: 25px;
  line-height: 25px;
  font-weight: 600;
  border-radius: 5px;
}
@keyframes techDivAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projImgLink:hover {
  box-shadow: 0 0 6px 3px rgb(178, 179, 168);
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.company,
.projName {
  margin: 10px 60px 10px 50px;
  font-size: 22px;
}
.company {
  text-align: left;
}
.projName {
  text-align: right;
}
.position {
  text-align: left;
  font-size: 22px;
  margin: 10px 60px 10px 50px;
}
.achievments,
.responsibilities,
.projDescr,
.techStack {
  font-size: 18px;
  line-height: 22px;
}
.spanResp,
.spanAchi {
  display: block;
  font-size: 22px;
  text-align: left;
  margin: 5px auto 15px 5px;
}
.WorkInfoBlock, .projInfoBlock {
  display: block;
  animation: workInfoAni 1s;
  margin: 0 5px;
  overflow: hidden;
}
@keyframes workInfoAniHidden {
  0% {
    max-height: 100vh;
  }
  100% {
    max-height: 0vh;
  }
}
.WorkInfoBlockHidden, .projInfoBlockHidden {
  animation: workInfoAniHidden 1s;
  overflow: hidden;
  margin: 0 5px;
  max-height: 0vh;
}
.ShowMoreBtn {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 500;
  background-color: grey;
  border-left-color: rgb(170, 168, 168);
  border-top-color: rgb(170, 168, 168);
}
.ShowMoreBtn:hover {
  box-shadow: inset 0 0 5px 2px rgb(245, 245, 242);
}
@keyframes workInfoAni {
  0% {
    max-height: 0vh;
  }
  100% {
    max-height: 100vh;
  }
}
.textDiv {
  display: block;
  text-align: left;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .workInfoWrapper,
  .projectInfoDivWrapper {
    width: 80vw;
    margin: 0 auto;
    display: block;
    grid-template-columns: none;
    margin: 10px auto 20px auto;
  }
  .projName,
  .company,
  .position {
    margin: 10px auto 10px auto;
    font-size: 22px;
    text-align: center;
  }
  .responsibilities,
  .achievments {
    font-size: 15px;
    line-height: 20px;
  }
  .ShowMoreBtn {
    width: 85px;
    height: 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 740px) {
  .projWindow {
    max-width: 75vw;
  }
  .projWindowOpened {
    max-width: 75vw;
  }
}
