.wrapper {
    max-width: 1170px;
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding: 65px 20px 0 20px;
    position: relative;
    margin-bottom: 15px;
    z-index: 10;
}
.app {
    display: grid;
    margin: 0 auto;
    text-align: center;
    position: relative;
    min-height: 650px;
}
body {
    line-height: inherit;
}
