.wrapper {
    max-width: 1170px;
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding: 8vh 20px;
    position: relative;
    z-index: 10;
}
.app {
    display: grid;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
