#main {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    box-shadow: inset 0 0 20px 10px rgb(178, 179, 168);
    overflow: auto;
}
.main-div {
    position: relative;
    align-self: center;
    z-index: 30;
    width: 90%;
    height: 90%;
    margin: 0 auto 5vh auto;
    animation: main 2s;
}
@keyframes main {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.currentH1 {
    left: 0;
    position: fixed;
    z-index: 60;
    font-family: "Muli", sans-serif !important;
    font-style: italic;
    font-size: 30px;
    right: 0;
    margin: 0 auto;
    background-color: rgba(102, 102, 102, 0.95);
    padding: 15px 0;
    top: 0;
    color: wheat;
    box-shadow: 0 0 20px 10px rgb(178, 179, 168);
}
@media screen and (max-width: 425px) {
    .text-block {
        padding: 7px 0;
        font-size: 14px;
    }
}
