.educationText {
    
    margin: 20px;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight: 50;
}
.educationImg {
    width: 300px;
    max-height: 150px;
    border-radius: 15px;
}
.educationImg:hover {
    cursor: pointer;
}
#education {
    position: relative;
    animation: Ani 3s;
    
}
@keyframes Ani {
    0% {
        position: relative;
        right: -1500px;
    }
    100% {
        position: relative;
        right: 0;
    }
}