.educationText {
    margin: 20px;
    font-size: 18px;
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: 50;
}
.educationName {
    text-align: left;
    margin: 15px;
    font-size: 22px;
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: 50;
}
.educationImg {
    position: relative;
    z-index: 40;
}
.educationImg,
.educationImgClosed,
.educationImgStart {
    width: 280px;
    max-height: 150px;
    border-radius: 15px;
}
.educationImg:hover {
    cursor: pointer;
    transform: perspective(400px) rotate3d(1, 0, 0.2, 30deg);
    transition: 1s;
}
.showInfoImageDiv:hover {
    cursor: pointer;
}
.showInfoImageDiv:hover::after {
    display: block;
    content: attr(data); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    top: 40%; /* Положение подсказки */
    z-index: 70; /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}

.educationImgOpened:hover {
    cursor: pointer;
}
.educationImgStart {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40;
    transform: perspective(0) rotate3d(0, 0, 0, 0);
}
.educationImgClosed {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40;
    transform: perspective(0) rotate3d(0, 0, 0, 0);
    animation: educationImgClosed 1s;
}
@keyframes educationImgClosed {
    0% {
        display: block;
        position: fixed;
        z-index: 60;
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        border-radius: 15px;
        margin: 0 auto;
        max-height: 700px;
        min-width: 80vw;
        max-width: 100vw;
        height: auto;
        width: auto;
        padding: 5vh 5vw;
        background-color: rgba(102, 102, 102, 0.95);
    }
    100% {
        opacity: 0;
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        transform: perspective(0) rotate3d(0, 0, 0, 0);
        width: 280px;
        max-height: 150px;
    }
}
.educationImageBlock {
    position: relative;
}
.educationImgOpened {
    display: block;
    position: fixed;
    z-index: 60;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    border-radius: 15px;
    margin: 0 auto;
    max-height: 700px;
    min-width: 80vw;
    max-width: 98vw;
    height: auto;
    width: auto;
    padding: 5vh 5vw;
    background-color: rgba(102, 102, 102, 0.95);
    animation: educationImgOpened 1s;
}
@keyframes educationImgOpened {
    0% {
        opacity: 0;
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        transform: perspective(0) rotate3d(0, 0, 0, 0);
        width: 280px;
        max-height: 150px;
    }
    100% {
        display: block;
        position: fixed;
        z-index: 60;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        border-radius: 15px;
        margin: 0 auto;
        max-height: 700px;
        min-width: 80vw;
        max-width: 98vw;
        height: auto;
        width: auto;
        padding: 5vh 5vw;
        background-color: rgba(102, 102, 102, 0.95);
    }
}

.educationBlockStart {
    position: relative;
    right: -1500px;
}
.educationBlock {
    position: relative;
    animation: Ani 1s;
}
@keyframes Ani {
    0% {
        position: relative;
        right: -2500px;
    }
    100% {
        position: relative;
        right: 0;
    }
}

@media screen and (max-width: 425px) {
    .educationImgOpened {
        width: 96vw;
    }
    @keyframes educationImgOpened {
        0% {
            opacity: 0;
            position: fixed;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: auto;
            width: 300px;
            max-height: 150px;
        }
        100% {
            display: block;
            position: fixed;
            z-index: 60;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            border-radius: 15px;
            margin: 0 auto;
            height: auto;
            width: 96vw;
            max-width: 1170px;
        }
    }
}
@media screen and (max-width: 325px) {
    .educationImgOpened {
        width: 99vw;
    }
    @keyframes educationImgOpened {
        0% {
            opacity: 0;
            position: fixed;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: auto;
            width: 300px;
            max-height: 150px;
        }
        100% {
            display: block;
            position: fixed;
            z-index: 60;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            border-radius: 15px;
            margin: 0 auto;
            height: auto;
            width: 99vw;
            max-width: 1170px;
        }
    }
}
