.app #header-nav .headerDiv,
.app #header-nav-active .headerDiv,
.app #header-nav-active-reverse .headerDiv,
.app #header-nav-opened .headerDiv {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 45;
}
#header-nav .headerDiv,
#header-nav-active .headerDiv,
#header-nav-active-reverse .headerDiv {
    display: block;
    height: 70vh;
    background-color: #333333;
    position: fixed;
    min-height: 530px;
    top: 50%;
    transform: translateY(-50%);
    left: -215px;
}
#header-nav-opened .headerDiv {
    display: block;
    height: 70vh;
    background-color: #333333;
    position: fixed;
    min-height: 530px;
    top: 50%;
    transform: translateY(-50%);
}
#header-nav-active .headerDiv {
    animation: navAnimation 1.1s;
}
#header-nav-active-reverse .headerDiv {
    animation: navAnimationReverse 1.1s;
}
.headerDiv {
    min-width: 245px;
}
@keyframes navAnimation {
    0% {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
    100% {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}
@keyframes navAnimationReverse {
    0% {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    100% {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.header-top {
    height: 30%;
    width: 100%;
    border-bottom: 2px solid black;
    position: relative;
}
.header-top-horizontal {
    display: none;
}
.photo {
    margin: 20px;
    height: 80%;
    min-width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 30px 10px rgb(178, 179, 168);
}
.navigation-block {
    padding-top: 20px;
    z-index: 40;
    height: 60%;
    color: white;
    border-bottom: 1px solid black;
}
.navigation-point {
    position: relative;
    z-index: 45;
    text-align: left;
    height: 10%;
    padding: 10px;
}
.navigation-point:hover {
    background-color: rgb(129, 136, 140);
}
.navigation-point a {
    color: white;
    align-items: center;
    display: flex;
    font-size: 20px;
}
.navigation-point svg {
    margin-right: 10px;
}
.menu-button {
    position: absolute;
    align-self: center;
    right: -25px;
    bottom: 45%;
    height: 50px;
    width: 50px;
    background-color: rgb(140, 142, 120);
    display: grid;
    justify-content: center;
    border: none;
    align-content: center;
    border-radius: 100%;
    z-index: 50;
}
.menu-button:hover {
    box-shadow: 0 0 10px 2px grey;
}
.menu-button svg {
    height: 1.5rem;
    width: 1.5rem;
}
.menu-bottom {
    margin: 20px auto;
    color: rgb(140, 142, 120);
    height: 10%;
    font-size: 12px;
}
.authorName {
    font-size: 16px;
    font-style: italic;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    #header-nav .headerDiv,
    #header-nav-active .headerDiv,
    #header-nav-active-reverse .headerDiv {
        left: -220px;
    }
}
@media screen and (max-width: 425px) {
    #header-nav .headerDiv,
    .app #header-nav-active .headerDiv,
    .app #header-nav-active-reverse .headerDiv,
    .app #header-nav-opened .headerDiv {
        height: 80vh;
        width: 70vw;
    }
    #header-nav .headerDiv,
    #header-nav-active .headerDiv,
    #header-nav-active-reverse .headerDiv {
        left: -67vw;
    }
    .navigation-block {
        height: 50%;
    }
    .menu-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 375px) {
    #header-nav .headerDiv,
    .app #header-nav-active .headerDiv,
    .app #header-nav-active-reverse .headerDiv,
    .app #header-nav-opened .headerDiv {
        height: 80vh;
        width: 70vw;
    }
    #header-nav .headerDiv,
    #header-nav-active .headerDiv,
    #header-nav-active-reverse .headerDiv {
        left: -67vw;
    }
}
