#main {

    height: 100vh;
    width: 100%;
    display: block;
    box-shadow: inset 0 0 20px 10px rgb(178,179,168);
    overflow: auto;
}
.main-div {
    position: relative;
    align-self: center;
    z-index: 30;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    animation: main 2s;
}
@keyframes main {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.title {
    margin: 10px auto 0 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: left;
}
.blockImage {
    display: block;
    margin: 15px 15px 15px 0;
    height:200px;
    width: 160px;

    float: left;
}
.row {
    display: block;
    clear: both;
    content: "";
    margin: 0;
}
.text-block {
    padding: 15px 0;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    word-break: break-word;
}

.currentH1 {
    position: relative;
    z-index: 20;
    font-family: 'Muli', sans-serif !important;
    font-style: italic;
    font-size: 30px;
}

